<style>
mat-list-option[aria-selected="true"] {
  background: rgba(0, 139, 139, 0.7);
}
</style>
<div >
<div style="text-align: center;"><h1><b>Dialogue BOT</b> </h1> </div>
<div class="mat-dialog-container"style="text-align: center;">
  <mat-selection-list>
    <mat-list-option *ngFor="let dialogue of dialogues" (click)="selectDialogue(dialogue.id)" aria-selected="true">
      <h1 style="font-family: sans-serif"><b>{{dialogue.name}}</b></h1>
    </mat-list-option>
  </mat-selection-list>
</div>
<ng-template [ngIf]="condition">
  <div class="container" style="font-family: sans-serif">
    <h1></h1>
    <msg-chat-box (onSend)="sendMessage($event)" [isFullScreen]="true" [conversation]="conversation"
      [currentUserId]="currentUserId">
    </msg-chat-box>
  </div>
</ng-template>
</div>